/* .container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:50vh;
}
.btn {
    padding:10px 20px;
    border:none;
    border-radius:10px;
    margin-right:10px;
} */
.success{
    background: green;
}
.error{
    background:red;
}
.info{
    background: #2196f3;
}
.info{
    background: #ff9800;
}
